# Git metadata
.git
.gitignore

# Python environments and cache
.venv
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables (Secrets)
.env
.env.*

# Docker and IDE files
Dockerfile
compose.yaml
.dockerignore

*.md
.DS_Store
.vscode